.card {
    width: 16rem;
    margin: 22px ;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.cardImg {
    width: 100%;
}

.cardContainer {
    background-color:  #1f1f1f;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    margin: auto;
}