.card {
    background-color:  #1f1f1f;
    max-width: 264px;
    width: 100%;
    height: auto;
    /* margin: 16px; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border: none;
    padding: 0;
}

.card-img {
    width: 100%;
    max-width: 264px;
    max-height: 350px;
    cursor: pointer;
}

.buttons {
    display: flex;
    text-align: center;
}

.cardButton {
    background-color: #9bba84;
    color: #ffffff;
    border-radius: 25px;
    max-width: 160px;
    height: 42px;
    width: 100%;
    border: none;
    font-family: CeraRegular;
    font-size: 14px;
    line-height: 14px;
    margin: 20px 0 0;
}

.cardButton:hover {
    background-color: #8aaa73;
    cursor: pointer;
}

.cardButtonNa:disabled {
    background-color: #585858;
    color: #ffffff;
    border-radius: 25px;
    max-width: 160px;
    height: 42px;
    width: 100%;
    border: none;
    font-family: CeraRegular;
    font-size: 14px;
    line-height: 14px;
    margin: 20px 0 0;
}


.cardButtonPa {
    border: solid 3px rgb(255, 251, 0);
    color: #ffffff;
    border-radius: 50px;
    width: 115px;
    padding: 0;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardButtonAdded:disabled {
    background-color: #6f885c;
    color: #ffffff;
    border-radius: 25px;
    max-width: 160px;
    height: 42px;
    width: 100%;
    border: none;
    font-family: CeraRegular;
    font-size: 14px;
    line-height: 14px;
    margin: 20px 0 0;
}

.card-title {
    max-width: 264px;
    width: 100%;
    margin: 20px 0 0;
    font-family: CeraBold;
    font-size: 14px;
    line-height: 14px;
    color: #f1f1f1;
}

.card-text {
    max-width: 264px;
    width: 100%;
    margin: 10px 0 0;
    font-family: CeraRegular;
    font-size: 12px;
}

.card-body {
    padding: 0;
    cursor: pointer;
    margin: 0;
}
