.card {
    background-color:  #1f1f1f;
    width: 16rem;
    margin: 22px ;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.cardImg {
    width: 100%;
}

.buttons {
    display: flex;
    text-align: center;
}

.cardButton {
    background-color: #9bba84;
    color: #ffffff;
    border-radius: 50px;
    padding: 13px;
    margin: 0 5px;
    width: 115px;
    border: none;
}

.cardButton:hover {
    background-color: #8aaa73;
    cursor: pointer;
}

.cardButtonNa {
    border: solid 1px red;
    color: #ffffff;
    border-radius: 50px;
    width: 115px;
    padding: 0;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cardButtonPa {
    border: solid 3px rgb(255, 251, 0);
    color: #ffffff;
    border-radius: 50px;
    width: 115px;
    padding: 0;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardButtonED {
    background-color: gray;
    color: #ffffff;
    border-radius: 50px;
    padding: 13px;
    margin: 5px 5px;
    width: 115px;
    border: none;
}