.container {
    max-width: 1200px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.aboutVapa {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 50%;
    padding: 2%;
}

.infoContainer {
    display: flex;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    padding: 4%;
}

img {
    width: 50%;
    padding: 4%;
}