.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(31,31,31,0.30);
    padding-top: 10px;
    padding-bottom: 10px;
}

.navBrand {
    display: flex;
    justify-content: center;
    width: 50%;
}

.navBrandImage {
    width: 100%;
    height: auto;
}

.nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.navLink {
    text-decoration: none;
    color: #ffffff;
}    

.instaIcon {
    font-size: 30px;
    color: #ffffff;
}

.profileIcon {
    font-size: 30px;
    color: #ffffff;
}

