.navBarBody {
    display: flex;
    justify-content: center;
    background-color: #292929;
    
}

.navBar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    height: 80px;
    padding: 0px;
    overflow: hidden;
}

.imageNav {
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: space-between;
}

.navBrandImage {
    width: 45px;
    height: 45px;
}

.nav {
    width: 85%;
    display: flex;
    justify-content: space-around;
}

.navLink {
    text-decoration: none;
    color: #ffffff;
}

.navLink:hover {
    text-decoration: none;
    color: grey;
}

.profileIcon {
    color: #ffffff;
    width: 20px;
    height: 20px;
}

.searchIcon {
    width: 20px;
    height: 20px;
    color: #ffffff;
    cursor: pointer;
}

.icons {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.burgerBar {
    display: none;
}

@media only screen and (max-width: 760px) {
    .navBar {
        display: none;
    }

    .burgerBar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        overflow: hidden;
    }

    .nav {
        width: 100%;
        display: flex;
        align-items:flex-end;
        overflow: hidden;
    }

    .navLink {
        text-decoration: none;
        color: #ffffff;
        margin: 10px;
    }

    .navBarToggle {
        background-color: white;
    }

    .navBarCollaps {
        overflow: hidden;
    }
    
}