.navBarBody {
    display: flex;
    justify-content: center;
    background-color: #292929;
    width: 100%;
    position: fixed;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

.navBar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    height: 80px;
    padding: 0px;
}

.imageNav {
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
}

.navBrandImage {
    width: 45px;
    height: 45px;
}

.nav {
    width: 85%;
    display: flex;
    justify-content: space-around;
}

.navLink {
    text-decoration: none;
    color: #ffffff;
}

.navLink:hover {
    text-decoration: none;
    color: #9BBA84;
}

.profileIcon {
    width: 20px;
    height: 20px;
    fill: white;
}

.profileIcon:hover {
    filter: invert(40%);
}

.loggedInProfileIcon {
    display: flex;
    height: 20px;
}

.loggedInProfileIcon:hover{
    filter: invert(40%);
}

.searchIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.searchIcon:hover {
    filter: invert(40%);
}

.icons {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.burgerBar {
    display: none;
}

.navbar-nav .navbar-expand{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 760px) {
    .navBar {
        display: none;
    }

    .burgerBar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: fixed;
        z-index: 1000;
        background-color: #292929;
    }

    .navBrandImage {
        width: 45px;
        height: 45px;
        margin: 16px 0px 16px 10px;
    }

    .openedNav {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        z-index: 100;
        /* justify-content: center; */
        align-items: center;
        background-color: #292929;
        margin-top: 70px;
        /* margin-top: 70px; */
        transform: translateX(0);
        transition: ease-in-out 0.3s;
    }

    .closedNav {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        z-index: 100;
        /* justify-content: center; */
        align-items: center;
        background-color: #292929;
        margin-top: 70px;
        /* margin-top: 70px; */
        transform: translateX(100%);
        transition: ease-in-out 0.3s;
    }


    .navLink {
        width: 98%;
        height: auto;
        text-decoration: none;
        color: #ffffff;
        padding: 16px;
        margin-top: 20px;
        text-align: center;
        /* border: 1px solid #9BBA84; */
    }

    .burger {
        position: relative;
        width: 20px;
        /* height: 20px; */
        background-size: 20px;
        cursor: pointer;
        z-index: 1000;
        margin: 0px 16px;
    }

    /* .navBarToggle {
        background-color: white;
    }

    .navBarCollaps {
        overflow: hidden;
    } */
    
}