.navContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1f1f1f;
    /* margin-top: 100px; */
}

.navBody {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0px;
}

.navBodyLink {
    color: #708a5e;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    width: 120px;
    height: auto;
}

.navIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: honeydew;
}

.nav-item {
    width: 120px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    cursor: pointer;
}

