.partnersContainer {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.partnersContainer > div {
    text-align: center;
}

.partnersContainer > div > h1 {
    margin-top: 150px;
}

.partnersContainer > div > h4 {
    margin: 50px 0 100px 0;
}

.partners {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.partners > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.partners > div > a {
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
}

.partners > div > a > img {
    width: 50%;
    display: flex;

}
