.partnersContainer {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.partners {
    display: grid;
    grid-template-columns:  repeat(4, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
}

.partners > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}