.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

.menu {
    width: 40%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menuLink {
    text-decoration: none;
    color: #ffffff;
}

.menuBrand {
    display: flex;
    justify-content: center;
    width: 20px;
    
}

.menuBrandImage {
    width: 20px;
}

.instaIcon {
    font-size: x-large;
    color: #ffffff;
}