body {
  /* background-image: url('./img/background1.jpg'), -webkit-linear-gradient(top, rgba(10,10,10,10.70), rgba(10,10,10,10.40));; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
  font-family: 'Jost', sans-serif;
}
