.carouselBody {
    max-width: 1200px;
    width: 100%;
    height: auto;
    /* border-radius: 10px; */
    margin: 110px 16px 0 0;
    /* padding: 0px 16px; */
}

.slide {
   
    max-width: 1200px;
    width: 100%;
    height: auto;
    /* border-radius: 10px; */
}

.slideImg {
    width: 100%;
    height: auto;
    /* border-radius: 10px; */
}

.carousel-control-next {
    display: none;
}

.carousel-control-prev {
    display: none;
}

.carousel-indicators {
    margin-bottom: 0px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


@media only screen and (max-width: 760px) {
    .carouselBody {
        margin-top: 80px;
    }
}